version = "1"

[server]
   address = "0.0.0.0:9999"

# List as many minIO instances to store and retrieve the logs
[[datastore]]
name = "myminio"
endpoint = "http://localhost:9000"
access_key = "minio"
secret_key = "minio123"
bucket = "mindev"
prefix = ""

# Define the logs that are available
[[log]]
name = "mylog"
datastores = ["myminio"]
commit_window = "0s"
