version = "1"

[server]
   address = "0.0.0.0:9999"
   # Bucket where MinSQL will store it's configuration
   metadata_endpoint = "http://localhost:9000"
   metadata_bucket = "metadata"
   access_key = "minio"
   secret_key = "minio123"
   # SSL can be turned on by providing a cert
   #pkcs12_cert = "certificate.pfx"
   #pkcs12_password = "password"

[auth.TOKEN1.mylog]
   token = "TOKEN1"
   api = ["admin"]
   expire = "duration"
   status = "enabled"
