// Size
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Loader
@mixin loader($size, $track-bg, $point-bg) {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: 1px solid $track-bg;
  border-right: 1px solid $track-bg;
  border-bottom: 1px solid $track-bg;
  border-left: 1px solid $point-bg;
  transform: translateZ(0);
  animation: loader 1.1s infinite linear;
  border-radius: 50%;
  @include size($size, $size);
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
