@import "variables";
@import "bulma";
@import "mixins";
@import "misc";
@import "suggest";
@import "modal";

.container {
  padding-bottom: 60px;
}

.title {
  color: #c72c48;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.query__banner {
  margin: 0 auto;
  max-width: 700px;
}

.query__banner .title {
  text-align: center;
  color: #c72c48;
  font-size: 70px;
}

.query__form {
  flex: 1 1;
  min-width: 500px;
  padding-top: 6px;
  position: relative;
  padding-left: 12px;
}

.query__input {
  width: 100%;
  font-size: 1.1rem;
}

.query__banner .query__input {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
  border-color: transparent;
}

.navbar-item .has-icons-right .icon.is-right {
  right: 5px;
  top: 1px;
}

.progress__bar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 500px;

  .progress {
    margin-top: 10px;
  }
}

.results {
  margin-top: 50px;
}
